# Node.js dependencies
client/node_modules/
client/build/
client/dist/
client/.npm
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Python cache files
server/__pycache__/
server/*.py[cod]
server/*$py.class

# Virtual environment
server/venv/
server/.env

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local